#### 1.Пользуясь только стандартной библиотекой Python реализовать функцию, которая принимает на вход в качестве единственного аргумента список действительных чисел и возвращает медиану данного списка. Гарантируется, что список не является пустым и содержит только числовые значения. Функцией median из сторонних библиотек пользоваться не допускается.

In [37]:
import  numpy as np
import pandas as pd

In [9]:
a=[3,1,2,5,7,9]

In [10]:
np.median(a)

4.0

In [18]:
def median_(lst):
    temp=sorted(lst)
    middle = len(temp) // 2
    return (temp[middle] + temp[~middle]) / 2
median_(a)

4.0

#### 2.Дан numpy вектор из нулей и единиц. Вернуть вектор, в котором на месте нулей будут единицы, а на месте единиц - нули.

In [28]:
a=np.array([1,0,1,0,1,1,0])

In [29]:
 np.where(a==0, 1, 0)

array([0, 1, 0, 1, 0, 0, 1])

#### 3. Даны 2 списка. Вернуть элемент из первого списка, соответствующий максимальному элементу из второго.

In [30]:
a=[1,2,3,4,6]
b=[1,2,3]

In [32]:
max(b)

3

In [35]:
def func(a,b):
    for i,x in enumerate(a):
        if x== max(b):
            return i
func(a,b)

2

#### 4. Дан head таблицы df_regist с данными о покупках пользователями телефонов Самсунг (регистрация в Самсунг аккаунте). Оставить в таблице только последнюю по дате запись о покупке для каждого пользователя.

In [50]:
df=pd.DataFrame({'user_id': ['zz56fhh5', 'zz56fhh5','zz56fhh5','ytu765a2','ytu765a2'], 'model_name': ['Galaxy S10', 'Galaxy S20','Galaxy A3','Galaxy J4','Galaxy A51'], 'registration_date': ['18.04.2017', '19.09.2019','08.01.2019','13.04.2019','22.05.2017']})

In [51]:
df

    user_id  model_name registration_date
0  zz56fhh5  Galaxy S10        18.04.2017
1  zz56fhh5  Galaxy S20        19.09.2019
2  zz56fhh5   Galaxy A3        08.01.2019
3  ytu765a2   Galaxy J4        13.04.2019
4  ytu765a2  Galaxy A51        22.05.2017

In [53]:
df.sort_values('registration_date').groupby('user_id').tail(1)

    user_id  model_name registration_date
1  zz56fhh5  Galaxy S20        19.09.2019
4  ytu765a2  Galaxy A51        22.05.2017

#### 5.Написать функцию, которая на вход принимает 2 вектора вида {a:1, b:2, e: 4} и {b:3, e:4, d: 5, s:6} и возвращает косинус угла между ними. Если у векторов разный состав координат (a, b и т д) принимаем их за 0.

In [57]:
first={'a':1, 'b':2, 'e': 4}
second={'b':3, 'e':4, 'd': 5, 's':6}

In [65]:
first.values()

dict_values([1, 2, 4])

In [68]:
set(list(first.values())+list(second.values()))

{1, 2, 3, 4, 5, 6}

In [71]:
type(first.keys())

dict_keys

In [ ]:
for x in z

In [82]:
def cos(first,second):
    dots=set(list(first.keys())+list(second.keys()))
    print(dots)
    vector1=[]
    vector2=[]
    for x in dots:
        try:
            vector1.append(first[x])
        except:
            vector1.append(0)
        try:
            vector2.append(second[x])
        except:
            vector2.append(0)    
            
    unit_vector1 = vector1 / np.linalg.norm(vector1)
    unit_vector2 = vector2 / np.linalg.norm(vector2) 
    dot_product = np.dot(unit_vector1, unit_vector2)
    angle = np.arccos(dot_product)         
    return angle    
            
            
cos(first, second)

{'e', 's', 'd', 'b', 'a'}

1.0266558634159033